rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // user public profile
    match /profiles/{userId} {
    	allow read: if request.auth != null;
      allow update: if request.auth != null && request.auth.uid == userId;
      allow create, delete: if false;
    }

    // user private data
    match /userSecrets/{userId} {
      allow create, read, update: if request.auth.uid != null && request.auth.uid == userId;
      allow delete: if false;
    }
    
    // chat sessions
    match /sessions/{sessionId} {
			allow read: if request.auth != null;
      allow update: if (
        request.auth != null &&
        request.auth.uid in resource.data.userIds
      );
      allow create: if request.auth != null;
      allow delete: if false;
    }
    
    match /userSchedules/{scheduleId} {
			allow read: if request.auth.uid != null;
      allow update: if request.auth.uid != null && request.auth.uid == scheduleId;
      allow create: if request.auth.uid != null && request.auth.uid == scheduleId;
      allow delete: if false;
    }
    
    match /userSchedules/{scheduleId}/fragments/{fragmentId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid != null && request.auth.uid == scheduleId;
    }
    
    match /rtcTestConnections/{userId} {
    	allow read: if request.auth.uid != null;
      allow write: if request.auth.uid != null && request.auth.uid == userId;
    }
  }
}